@font-fase {
	font-family: "SF UI Display";
    src: url(../font/SFUIDisplay-Thin.woff2) format("woff2"),
        url(../font/SFUIDisplay-Thin.woff) format("woff");
    font-weight: 100;
    font-style: normal; 
}
@font-face {
	font-family: "SF UI Display";
    src: url(../font/SFUIDisplay-Regular.woff2) format("woff2"),
        url(../font/SFUIDisplay-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal; 
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}
body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	margin: 0 auto;
	font-family: "SF UI Display", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 100;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.menu-mob {
	position: sticky;
	top: 0;
	z-index: 10;
}
.header__top {
	background-color: #000000;
}
.header__top-inner {
	max-width: 1140px;
	margin: 0 auto;
}
.header__top-list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0px;
	padding: 0px;
	list-style: none;
	border-bottom: 5px solid red;
}
.header__top-text {
	margin: 0px;
	padding-bottom: 10px;
	font-size: 25px;
	font-weight: 100;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
}
.header__top-link {
	text-decoration: none;
}
.header__top-link--none {
	display: none;
}
.header__top-text span {
	color: #fc7b3e;
}
.header__top-up {
	font-size: 16px;
}
.header-menu {
	background-color: rgb(252, 123, 62);
  box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
}
.header-menu__sub {
	display: none;
}
.header-menu__item:hover .header-menu__sub {
	display: block;
}
.header-menu__item:hover {
	background-color: #000000;
}
.header-menu__sub {
	padding: 0px;
  list-style: none;
	background-color: #ffffff;
}
.header-menu__sub-item {
	padding-left: 15px;
}
.header-menu__sub-link {
	display: block;
  font-size: 16px;
  font-weight: 100;
  line-height: 50px;
  color: #000000;
  text-decoration: none;
}
.header-menu__link {
	display: block;
	font-size: 16px;
	font-weight: 100;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	line-height: 73px;
	text-decoration: none;
}
.header-menu__sub-item:hover {
	background-color: #fc7b3e;
}
.header-menu__sub-link:hover {
	color: #ffffff;
}
.header-menu__link:hover {
	color: #fc7b3e; 
}
.header-menu__inner {
	max-width: 1140px;
  margin: 0 auto;
}
.header-menu__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	max-width: 1140px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0px;
	margin: 0px auto;
	list-style: none;
}
.header-menu__item {
	width: 380px;
	width: 100%;
}
.header-menu__list {
	display: none;
}
.header-menu-mob {
	margin: 0px;
  padding: 0px;
  list-style: none;
  background-color: #fc7b3e;
}
.header-menu-mob__item {
	display: flex;
  justify-content: space-between;
  position: relative;
}
.header-menu-mob__link:first-child {
	border-right: none;
}
.header-menu-mob__link {
	display: block;
	width: 35%;
	text-align: center;
  font-size: 20px;
  font-weight: 100;
  color: #ffffff;
  padding: 8px 0px;
  cursor: pointer;
  text-decoration: none;
  border-left: 1px solid #ffffff;
}
.header-menu-mob__img {
  cursor: pointer;
}
.header-menu-mob__items {
	width: 100%;
}
.header-menu-mob__wrraper {
	position: absolute;
  width: 100%;
  min-height: 100px;
  left: 0px;
  top: 39px;
  padding: 0px;
  list-style: none;
  background-color: #ffffff;
  z-index: 2;
}
.header-menu-mob__links {
	position: relative;
	display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  padding: 10px;
  border-bottom: 1px solid #cccccc;
}
.header-menu-mob__links:after {
	position: absolute;
	content: url("../img/plus.png");
	top: 10px;
	right: 15px;
	z-index: 1;
}
.header-menu-mob__links:hover:after,
.header-menu-mob__links:focus:hover:after {
	position: absolute;
	content: url("../img/minus.png");
	top: 5px;
	right: 15px;
}
.header-menu-mob__sub {
	padding: 0px;
  list-style: none;
  background-color: #e6e6e6;
}
.header-menu-mob__sub-links {
	display: block;
  padding: 10px 0px;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #cccccc;
  box-shadow: 1px 0px 0px 0px rgb(0, 0, 0, .50);
}
.header-menu-mob__wrraper {
	display: none;
}
.header-menu-mob__sub.collapse {
	display: none;
}
.header-menu-mob__links:active,
.header-menu-mob__links:hover {
	color: #02a1c9;
}
.header-menu-mob__sub-links:hover {
	color: #02a1c9;
}
@media (min-width: 768px) {
	.header__top-link--none {
		display: block;
	}
	.menu-mob {
		display: none;
	}
	.header__top-list {
		border-bottom: none;
	}
	.header-menu__list {
		display: block;
	}
	.header-menu-mob {
		display: none;
	}
	.header-menu__list {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0px;
		list-style: none;
	}
	.header-menu__item {
		position: relative;
		width: 380px;
		width: 100%;
		border-left: 1px solid #ffffff;
	}
	.header-menu__item::after {
		position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 28px;
    left: 210px;
    background-image: url(../img/switch.png);
    z-index: 1;
	}
	.header-menu__item:last-child::after {
		position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 28px;
    left: 235px;
    background-image: url(../img/switch.png);
    z-index: 1;
	}
	.header-menu__item:hover::after {
		background-image: url(../img/switch.png);
		transform: rotate(90deg);
	}
	.header-menu__sub {
		position: absolute;
		left: 0px;
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
	}
	.header-menu__item:last-child {
		border-right: 1px solid #ffffff;
	}
	.header__top-list {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0px;
		padding: 10px 5px;
		list-style: none;
	}
	.header__top-text {
		margin: 0px;
		padding: 0px;
		font-size: 17px;
		font-weight: 100;
		color: #ffffff;
		text-align: left;
		text-transform: uppercase;
	}
}
@media (min-width: 1024px) {
	.header {
		position: sticky;
		top: 0px;
		z-index: 10;
	}
	.header-menu__item::after {
		position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 28px;
    left: 310px;
    background-image: url(../img/switch.png);
    z-index: 1;
	}
	.header-menu__item:last-child::after {
		position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 28px;
    left: 310px;
    background-image: url(../img/switch.png);
    z-index: 1;
	}
}
@media (min-width: 1140px) {
	.header-menu__item::after {
		position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 28px;
    left: 335px;
    background-image: url(../img/switch.png);
    z-index: 1;
	}
	.header-menu__item:last-child::after {
		position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 28px;
    left: 350px;
    background-image: url(../img/switch.png);
    z-index: 1;
	}
	.header__top-text {
		margin: 0px;
		font-size: 25px;
		font-weight: 100;
		color: #ffffff;
		text-transform: uppercase;
	}
	.header__top-list {
		padding: 10px 25px;
	}
}
.banner {
	background-image: url(../img/bg-banner.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.banner__list {
	max-width: 1140px;
	margin: 0 auto;
}
.banner__link {
	outline: none;
}
.banner__img {
	max-width: 100%;
}
.description {
	margin-bottom: 35px;
}
.description__inner {
	max-width: 1140px;
	margin: 0 auto;
}
.description__title {
	font-size: 26px;
	font-weight: 100;
	color: #666666;
	text-align: center;
}
.description__text {
	margin: 0px;
	padding: 0 10px;
	font-size: 16px;
	font-weight: 100;
	color: #8f8f8f;
	text-indent: 10px;
	text-align: justify;
}
.description__btn {
	display: block;
	width: 166px;
	height: 50px;
	margin: 0 auto;
	margin-top: 20px;
	padding: 0px;
	font-size: 16px;
	font-weight: 100;
	line-height: 50px;
	color: #ffffff;
	text-transform: uppercase;
	border: 0px;
	background-color: rgb(252, 123, 62);
}
@media (min-width: 768px) {
	.description__title {
		font-size: 36px;
		padding: 0 20px;
	}
}
@media (min-width: 1024px) {
	.description__title {
		padding-left: 66px;
		padding-right: 66px;
		font-size: 36px;
		font-weight: 100;
		color: #666666;
		text-align: center;
	}
	.description__text {
		padding: 0px;
	}
}
.about-us {
	background-image: url(../img/bg-about_us.png);
}
.about-us__inner {
	max-width: 1140px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.about-us__title {
	margin: 0px;
	padding-top: 45px;
	padding-bottom: 45px;
	font-size: 26px;
	font-weight: 100;
	color: #ffffff;
	text-align: center;
}
.about-us__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	position: relative;
	padding: 0px;
	margin: 0px;
	padding-bottom: 55px;
	background-image: url(../img/work-notebook.png);
	background-repeat: no-repeat;
}
.about-us__item {
	width: 350px;
	margin-bottom: 30px;
	padding: 10px;
	outline: none;
}
.about-us__text {
	margin: 0px;
	font-size: 15px;
	line-height: 25px;
	font-weight: 100;
	color: #ffffff;
	text-align: justify;
}
.about-us__text--name {
	margin-bottom: 10px;
}
.about-us__text span {
	color: #fc7b3e;
}
@media (min-width: 768px) {
	.about-us__item {
		padding: 0px;
	}
	.about-us__title {
		font-size: 36px;
	}
}
@media (min-width: 1140px) {
	.about-us__text {
		line-height: 18px;
	}
	.about-us__list::before {
		position: absolute;
		content: "";
		left: 0px;
		top: 10px;
		width: 1140px;
		height: 286px;
		background-image: url(../img/separator.png);
	}
}
.paper {
	max-width: 1140px;
	margin: 0 auto;
}
.paper__title {
	font-size: 36px;
	font-weight: 100;
	color: #666666;
	text-align: center;
}
.paper__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 auto;
}
.paper__item {
	width: 250px;
}
.paper__text {
	width: 250px;
	margin: 0 auto;
	padding-top: 10px;
	font-size: 15px;
	font-weight: 100;
	text-align: justify;
	color: #b8b8b8;
}
.paper__link {
	outline: none;
	text-decoration: none;
}
.paper__name {
	width: 250px;
	margin: 0 auto;
	font-size: 20px;
	font-weight: 100;
	color: #fc7b3e;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e6e6e6;
}
.paper__text a {
	text-align: right;
}
.paper__ref {
	margin-left: 60px;
	font-size: 16px;
	font-weight: 100;
	color: #fc7b3e;
	text-decoration: none;
	outline: none;
	border-bottom: 1px solid #fedecf;
}
.paper__block {
	display: block;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	padding: 25px 0px;
  border: 1px solid #d1d1d1;
}
.paper__block:hover {
	border: 2px solid #d1d1d1;
}
.paper__img {
	display: block;
	transition: 0.45s;
}
.paper__img:hover {
	transform: scale(1.10, 1.10);
}
@media (min-width: 768px) {
	.paper__block {
		width: 240px;
		height: 240px;
		padding: 18px 0px;
	}
	.paper__text {
		width: 240px;
	}
	.paper__name {
		width: 240px;
	}
	.paper__ref {
		margin-left: 50px;
	}
}
@media (min-width: 1024px) {
	.paper__block {
		width: 250px;
		height: 250px;
		padding: 25px 0px;
	}
	.paper__text {
		width: 250px;
	}
	.paper__name {
		width: 250px;
	}
	.paper__ref {
		margin-left: 60px;
	}
}
.feedback {
}
.feedback__inner {
	width: 100%;
	height: 580px;
	background-image: url(../img/form-bg.jpg);
	background-position: center;
}
.feedback__form {
	max-width: 1140px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.feedback__title {
	max-width: 717px;
	margin: 0px;
	margin-top: 20px;
	padding: 0 10px;
  padding-bottom: 20px;
	font-size: 22px;
  font-weight: 100;
  text-align: left;
  color: #fc7b3e;
}
.feedback__name {
	margin: 0px 10px;
  padding-bottom: 20px;
  font-size: 25px;
  font-weight: 400;
  color: #666666;
  text-align: center;
}
.feedback__input {
	width: 100%;
	max-width: 717px;
	margin: 7px 0;
	padding-left: 10px;
	font-size: 12px;
	font-weight: 100;
	height: 40px;
  line-height: 40px;
	outline: none;
	border: none;
	background-color: hsla(0,0%,0%,0.5);
}
.feedback__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-top: 14px;
	padding-left: 10px;
	padding-right: 10px;
}
.feedback__text {
	margin: 0px;
	padding: 0px;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}
input::placeholder {
	color: #ffffff;
}
.feedback__link {
	color: rgb(252, 123, 62);
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px solid rgb(252, 123, 62);
}
.feedback__submit {
  width: 166px;
  height: 50px;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  background-color: rgb(252, 123, 62);
  border: none;
}
@media (min-width: 768px) {
	.feedback__name {
		font-size: 36px;
	}
	.feedback__submit {
		margin-top: 36px;
  	margin-bottom: 36px;	
	}
	.feedback__input {
		font-size: 25px;
	}
	.feedback__text {
		font-size: 20px;
		margin: 0px;
		text-align: center;
	}
	.feedback__link {
		font-size: 20px;
	}
	.feedback__title {
		font-size: 25px;
		text-align: center;
	}
}
@media (min-width: 1024px) {
	.feedback__name {
		margin: 0px;
	}
	.feedback__title {
		padding: 0px;
		padding-bottom: 20px;
	}
	.feedback__inner {
		padding: 0px;
	}
	.feedback__input {
		padding-left: 3px;	
	}
}
.footer__wrapper {
	width: 100%;
	background-color: #000;
	/*background-image: url(../img/bg-footer.png);*/
}
.footer__inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto auto 0;
  max-width: 1140px;
  overflow: hidden;
  padding-bottom: 10px;
}
.footer-head {
	background-color: #fc7b3e;
	color: #fff;
	margin-bottom: 10px;
}
.footer-head__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin: auto 20px 0;
	max-width: 1140px;
	overflow: visible;
	text-align: center;
}
.footer-head__item {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
	margin: auto;
	padding: 5px;
}
.footer-head__link {
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	white-space: nowrap;
}
.footer-social {
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
  margin: 0 auto;
  padding: 0px;
  list-style: none;
}
.copyright {
	background-color: rgb(39, 49, 61);
  width: 100%;
  display: block;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .20);
          box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .20);
}
@media screen and (min-width: 768px) {
	.footer span {
		position: absolute;
  	background-color: rgb(39, 49, 61);
  	width: 100%;
  	height: 60px;
  	display: block;
  	-webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .20);
  	        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .20);
	}
	.footer-head__inner {
		flex-direction: row;
		margin: auto auto 0;
		text-align: center;
	}
}
.footer-list__wrapper {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
	z-index: 1;
	padding: 20px;
  margin: 5px;
}
.footer-list {
  font-size: 18px;
  line-height: 1.5em;
  list-style-type: none;
  margin: 0px;
  padding: 0;
}
.footer-list__point {
	color: #ffffff;
	font-size: 16px;
	text-align: center;
}
.footer-list__point img {
	vertical-align: text-bottom;
}
.footer-list__title {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 20px;
  padding: 0;
  padding-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 4px solid #fc7b3e;
  /*border-bottom: 4px solid #fff;*/
}
.footer-list__link {
  color: #ffffff;
  text-decoration: none;
  white-space: nowrap;
}
.footer-list__wrapper:last-child {
	border-right: none;
}
.footer-payment {
	max-width: 1140px;
	margin: 0 auto;
}
.footer-payment__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	max-width: 780px;
	margin: 0 auto;
}
.footer-payment__list {
	padding: 0px;
}
.footer-payment__item {
	margin-top: auto;
	padding: 10px;
	list-style: none;
}
.footer-copyright {
	width: 100%;
	background-color: #fc7b3e;
	/*background-color: #000000;*/
}
.footer-copyright__text {
	max-width: 1140px;
  margin: 0 auto;
  padding-top: 5px;
	padding-bottom: 5px;
	font-size: 13px;
  color: #ffffff;
  text-align: center;
}
@media screen and (min-width: 768px) {
	.footer-list__wrapper {
		margin: 0px;
		padding: 0px;
	}
	.footer-list--first {
		margin-left: 0;
	}
	.footer-list--last {
		margin-right: 0;
	}
	.footer-list {
		margin: 18px auto;
	}
	.footer-head__item {
		border-right: 1px solid #ffffff;
	}
	.footer-head__item:last-child {
		border-right: none;
	}
	.footer-head__link {
    line-height: 51px;
  }
}
@media screen and (min-width: 1140px) {
	.footer-list__wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.footer-list--first {
		margin: 18px auto;
	}
	.footer-list--last {
		margin: 18px auto;
	}
	.footer-list__point {
		text-align: left;
	}
	.footer-head__link {
    font-size: 25px;
  }
	.footer-list__title {
		text-align: left;
	}
}
.breadcrumbs-paper__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 45px;
  padding: 0;
  list-style: none;
}
.breadcrumbs-paper__list a {
	font-size: 16px;
	font-weight: 300;
	color: #000000;
	text-decoration: none;
}
.breadcrumbs-paper__list span {
	font-size: 16px;
	font-weight: 300;
	padding: 0 5px;
	color: #000000;
}
.breadcrumbs-paper__color {
	color: #fc7b3e;
	font-style: normal;
}
.breadcrumbs-current {
	font-size: 16px;
	font-weight: 300;
	color: #000;
}
@media (min-width: 768px) {
	.breadcrumbs-paper__inner {
		justify-content: flex-start;
	}
}
@media (min-width: 1024px) {
	.breadcrumbs-paper__inner {
		padding: 0px;
	}
}
.contact {
	max-width: 1140px;
	margin: 0 auto;
}
.contact__title {
	margin: 0px;
  margin-top: 20px;
  margin-bottom: 34px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  color: #666666;
}
.contact__name {
	display: flex;
	align-items: center;
	margin: 0px;
	margin-top: 5px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 25px;
  font-weight: 100;
  color: #8f8f8f;
}
.contact__name:before,
.contact__name:after {
	flex: 1 0 auto;
  content: "";
  height: 1px;
  background: #000000;
}
.contact__name:before {
	margin-right: 10px;
}
.contact__name:after {
	margin-left: 10px;
}
.contact__list {
	display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px;
  margin: 0px;
}
.contact__item {
	list-style: none;
}

.contact__header {
	padding: 0 15px;
	margin: 5px;
}
.contact__text {
	margin: 0px;
	margin-bottom: 18px;
	font-size: 18px;
	font-weight: 100;
}
.contact__link {
	text-decoration: none;
	color: #000000;
}
.contact__block {
	display: block;
	padding-left: 30px;
}
.contact__block a {
	font-size: 16px;
	font-weight: 100;
	color: #fc7b3e;
	text-decoration: none;
}
.contact__img {

	display: block;
}
.contact__item {
	margin-bottom: 20px;
}
.video__foto {
	width: 100%;
	height: 100%;
}
.location__text {
	margin: 5px;
	padding: 5px;
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
  text-indent: 10px;
}
.contact__address {
	display: block;
	margin-bottom: 13px;
	padding-left: 30px;
	background-size: 20px 19px;
	background-image: url(../img/contact-address.png);
	background-repeat: no-repeat;
}
.contact__tel {
	display: block;
	margin-bottom: 13px;
	padding-left: 30px;
	background-size: 20px 19px;
	background-image: url(../img/contact-tel.png);
	background-repeat: no-repeat;
}
.contact__main {
	display: block;
	margin-bottom: 13px;
	padding-left: 30px;
	background-size: 20px 19px;
	background-image: url(../img/contact-email.png);
	background-repeat: no-repeat;
}
.contact__workhours {
	display: block;
	padding-left: 30px;
	background-size: 20px 20px;
	background-image: url(../img/contact-clock.png);
	background-repeat: no-repeat;
}
.location__inner {
	padding: 15px 0px;
}
.location {
	max-width: 1140px;
	margin: 0 auto;
}
.location__map {
	max-width: 1070px;
}
@media screen and (min-width: 767px) {
	.contact__title {
		font-size: 36px;
	}
	.contact__text {
		margin-bottom: 24px;
    font-size: 22px;
	}
	.contact__name {
		
	}
	.contact__header {
		max-width: 396px;
    padding: 0px;
    margin: 0px;
	}
	.contact__item {
		margin: 0px;
	  padding: 10px 0px;
	  padding-left: 10px;
	}
	.contact__list {
		justify-content: flex-start;
	}
}
@media (min-width: 1024px) {
	.contact__item--contact {
		order: 3;
	}
	.contact__item--video {
		order: 2;
	}
	.contact__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-left: 35px;
    margin-right: 35px;
    border: 1px solid #fc7b3e;
	}
	.contact__text {
		font-size: 16px;
    font-weight: 100;
	}
	.contact__title {
		margin-left: 0px;
    margin-right: 0px;
	}
	.location__inner {
		display: flex;
    flex-direction: column;
    margin-left: 35px;
    margin-right: 35px;
	}
	.location__text {
		order: 1;
		font-size: 16px;
		font-weight: 300;
		padding: 0px;
		margin: 0px;
		margin-bottom: 15px;
	}
	.location__map {
		order: 2;
	}
	.contact__link {
		vertical-align: top;
	}
	.contact__text span {
		vertical-align: top;
	}
	.video__foto {
		width: 400px;
	}
	.location__map {
		border: 1px solid #fc7b3e;
	}
}
.guidance {
	max-width: 1140px;
	margin: 0 auto;
}
.guidance__title {
	margin: 0px;
  margin-top: 28px;
  margin-bottom: 39px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  color: #666666;
}
.guidance__text:first-child {
	margin-bottom: 0px;
}
.guidance__text {
	margin: 0px;
  margin-bottom: 20px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 100;
  text-indent: 10px;
  text-align: justify;
  color: #8f8f8f;
}
.guidance__name {
	margin: 0px;
  margin-bottom: 30px;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #666666;
}
@media screen and (min-width: 767px) {
	.guidance__title {
		font-size: 36px;

	}
}
@media screen and (min-width: 1024px) {
	.inner {
		padding-left: 25px;
	}
	.guidance__text {
		padding: 0;
		font-size: 16px;
	}
	.guidance__title {
		margin-top: 0px;
		margin-left: 0px;
    margin-right: 0px;
	}
	.guidance__name {
		padding: 0px;
	}
}
.order {
	max-width: 1140px;
	margin: 0 auto;
	margin-bottom: 25px;
}
.order__list {
	display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5px;
  padding: 10px;
}
.order__item {
	display: flex;
	align-items: center;
	list-style: none;
}
.order__text {
	padding-left: 25px;
	font-size: 18px;
	color: #7b7878;
}
.order__min {
	display: block;
	margin-top: 5px;
	font-size: 25px;
	color: #000000;
}
.order__min span {
	font-size: 25px;
	color: #fc7b3e;
}
.order__link {
	display: block;
  width: 250px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #fc7b3e;
  border-radius: 10px;
}
@media (min-width: 1024px) {
	.order__text {
		font-size: 16px;
	}
	.order__min {
		font-size: 18px;
	}
	.order__link {
		width: 193px;
		margin-top: 5px;
		font-size: 16px;
		font-weight: 400;
		height: 36px;
		line-height: 36px;
	}
	.order__img {
		width: 40px;
		height: 42px;
	}
	.order__list {
		padding: 0px;
		margin: 0px;
		margin-right: 60px;
		margin-left: 30px;
	}
	.order {
		padding-left: 25px;
	}
	.order__min {
		display: block;
		margin-top: 5px;
		font-size: 18px;
		color: #000000;
	}
	.order__min span {
		font-size: 18px;
		color: #fc7b3e;
	}
}
.personal-data {
	max-width: 1140px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.personal-data__title {
	margin: 0px;
	margin-bottom: 25px;
	padding: 0px;
	font-size: 26px;
	font-weight: 100;
	text-align: center;
	color: #666666;
}
.personal-data__text {
	margin: 0px;
	margin-bottom: 20px;
	padding: 0px 10px;
	font-size: 12px;
	font-weight: 100;
	text-indent: 10px;
	text-align: justify;
	color: #8f8f8f;
}
.personal-data__item {
	padding-right: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: 100;
	color: #8f8f8f;
	text-align: justify;
}
.personal-data__text a {
	display: block;
	color: #666666;
	text-decoration: none;
	text-align: left;
}
.personal-data__name {
	margin: 0px;
  font-size: 18px;
  font-weight: 100;
  color: #8f8f8f;
  text-align: center;
  text-transform: uppercase;
}
.personal-data__caption {
	margin: 15px 0px;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  color: #666666;
}
.personal-data__text:last-child {
	margin-bottom: 0px;
}
.sidebar {
	display: none;
}
@media (min-width: 767px) {
	.personal-data__text {
		font-size: 18px;
	}
	.personal-data__item {
		font-size: 18px;
	}
	.personal-data__name {
		font-size: 20px;
	}
	.personal-data__title {
		font-size: 36px;
	}
	.personal-data__text {
		padding-left: 25px;
		padding-right: 47px;
	}
}
@media (min-width: 1024px) {
	.sidebar {
		display: block;
	}
	.personal-data__wrraper {
		padding-left: 25px;
	}
	.personal-data__inner {
		padding-left: 25px;
	}
	.personal-data__text {
		padding: 0px;
    padding-right: 35px;
    margin-bottom: 25px;
    font-size: 16px;
	}
	.personal-data__item {
		font-size: 16px;
		padding-right: 35px;
	}
	.personal-data__title {
		margin: 0px;
    margin-bottom: 22px;
    font-size: 36px;
    font-weight: 100;
	}
}
.catalog {
	max-width: 1140px;
	margin: 0 auto;
	margin-bottom: 50px;
}
.catalog__inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}
.catalog__title {
	margin: 0px 10px;
  margin-top: 20px;
  margin-bottom: 22px;
  padding-bottom: 12px;
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  color: #666666;
}
.catalog__list {
	display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
  list-style: none;
}
.catalog__item {
	margin: 0 auto;
}
.catalog__show-all {
	display: block;
  width: 200px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
  height: 55px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  background-color: #fd9e71;
  border-radius: 100px;
}
.catalog-list__inner {
	display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.catalog-list__inner span {
	display: block;
  margin-top: 25px;
  margin-bottom: 30px;
  font-size: 15px;
  font-weight: 100;
  text-align: center;
  color: #fc7b3e;
  transition: 0.40s;
}
.catalog-list__inner span:hover {
	transform: scale(1.09, 1.09);
}
.catalog__model {
	display: block;
  width: 145px;
  height: 189px;
  text-decoration: none;
  margin-bottom: 25px;
  border: 1px solid #e6e6e6;
}
.catalog__model:focus {
	position: relative;
	outline: none;
}
.catalog__model:focus:after {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 145px;
  height: 189px;
  content: '';
  display: block;
  border: 1px solid #fc7b3e;
  z-index: 1;
  pointer-events: none;
  box-shadow: 0px 0px 10px #fc7b3e;
}
.catalog__model:hover:focus {
	border: 1px solid #fc7b3e;
}
.catalog__model:hover {
	border: 1px solid #fc7b3e;
}
.catalog__pucture {
	width: 90%;
  height: 90%;
  display: flex;
  margin: 0 auto;
  margin-top: 15px;
  transition: 0.40s;
}
.catalog__pucture:hover {
	transform: scale(1.04, 1.04);
}
.catalog-list {
	margin-top: 20px;
}
.catalog-list.collapse {
	display: block;
}
@media (min-width: 768px) {
	.catalog-list__inner {
		display: flex;
    flex-wrap: wrap;
	}
	.catalog-list__inner span:hover {
		transform: scale(1.10, 1.10);
	}
	.catalog__model {
		width: 320px;
		height: 320px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid #fc7b3e;
	}
	.catalog__model:focus {
		position: relative;
		outline: none;
	}
	.catalog__model:focus:after {
    position: absolute;
    top: -2px;
    left: -2px;
    height: 320px;
    width: 320px;
    content: '';
    display: block;
    border: 2px solid #fc7b3e;
    z-index: 1;
    pointer-events: none;
    box-shadow: 0px 0px 10px #fc7b3e;
	}
	.catalog__model:hover:focus {
		border: 2px solid #fc7b3e;
	}
	.catalog__model:hover {
		border: 2px solid #fc7b3e;
	}
	.catalog__pucture {
		width: 300px;
    height: 189px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 5px;
	}
	.catalog__pucture:hover {
		transform: scale(1.05, 1.05);
	}
	.catalog-list__inner span {
		font-size: 20px;
	}
}
@media (min-width: 1024px) {
	.catalog-list {
		margin-top: 0px;
	}
	.catalog__title {
		margin: 0px;
  	margin-top: 20px;
  	margin-bottom: 22px;
  	font-size: 36px;
	}
	.catalog-list__inner {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.catalog__inner {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
	}
}

.filter-list-top-header {
	width: 285px;
	margin: 0 auto;
  font-size: 20px;
  font-weight: 100;
  line-height: 50px;
  color: #ffffff;
  text-align: center;
  background-color: #fc7b3e;
}
.filter__link  {
	display: block;
  margin: 0 auto;
  font-size: 16px;
  line-height: 40px;
  font-weight: 100;
  color: #20baee;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #eaeaea;
}
.filter-list-top-body a {
	display: block;
	padding-left: 10px;
  font-size: 16px;
  line-height: 40px;
  font-weight: 100;
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #e8e8e8;
}
.filter-list-top-body {
	width: 285px;
  margin: 0 auto;
  border: 1px solid #e6e6e6;
}
.filter-list-top-body a:hover {
	color: #ffffff;
	background-color: #fc7b3e;
	border-bottom: 1px solid #ffffff;
}
.filter__block.collapse {
	display: none;
}

@media (min-width: 1024px) {
	.filter-list-top-body a {
		display: block;
	}
	.filter-list-top-body {
		border:1px solid #e6e6e6;
	}
}
.flashcard {
	max-width: 1140px;
	margin: 0 auto;
	margin-bottom: 50px;
}	
.flashcard-list__inner {
	display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.flashcard-list__inner a {
	display: block;
	margin: 0 auto;
}
.flashcard__text {
	padding: 0 10px;
	font-size: 16px;
	font-weight: 300;
	text-align: justify;
	text-indent: 15px;
	margin: 0px;
}
.flashcard-list {
	margin-bottom: 30px;
}
.flashcard-list.collapse {
	display: none;
}
.spoiler__content {
	display: none;
}
.spoiler-block {
	padding: 0 10px;
}
.spoiler__link {
	display: block;
	text-decoration: none;
	font-size: 16px;
	font-weight: 300;
	color: #3ec3f0;
}
.spoiler__content {
	font-size: 16px;
	font-weight: 300;
}
.content__inner {
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	width: 100%;
}
@media (min-width: 768px) {
	.flashcard-list__inner {
		flex-direction: row;
	}
	.flashcard__text {
		margin: 0px;
	}
	#menu {
		display: none;
	}
}
@media (min-width: 1024px) {
	.flashcard-list__inner {
		flex-direction: row;
		margin: 0px;
		padding-left: 25px;
	}
	.flashcard__text {
		padding: 0px;
		padding-left: 10px;
	}
	.content__inner {
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		width: 854px;
	}
	.product {
		padding-left: 15px;
	}
}
.product {
  position: relative;
  width: 100%;
}
.product__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.product__list-item {
	background: #fc7b3e;
  border-radius: 3px 0 0 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  height: 65px;
  padding-left: 12px;
}
.product__list-item a {
	color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
.product__list-item--remont a {
	font-size: 25px;
}
.product__named a {
  font-size: 16px;
  font-weight: 300;
  color: #000;
  text-decoration: none;
}
.product__named,
.product__price,
.product__element {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}
.product__list-item--remont {
	display: flex;
  align-items: center;
  justify-content: center;
	width: 70%;
}
.product__list-item--cost {
	display: flex;
  align-items: center;
  justify-content: flex-start;
	width: 15%;
}
.product__list-item--detail {
	display: flex;
  align-items: center;
  justify-content: flex-start;
	width: 15%;
}
.product__block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 55px;
	line-height: 55px;
}
.product__named {
	justify-content: flex-start;
  overflow: hidden;
  padding-left: 12px;
  width: 70%;
}
.product__price {
	width: 15%;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
}
.product__element {
	width: 15%;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
}
.product__block--even {
	background: #f7f7f7;
}
.product__title {
	font-size: 25px;
	font-weight: 100;
	color: #666666;
	text-align: center;
	margin-bottom: 20px;
}
.product__invisible {
	height: auto;
  overflow: visible;
  display: none;
}
.products__show-all {
  background: #fc7b3e;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}
.product__img {
	display: block;
  margin: 0 auto;
  width: 508px;
  height: 338px;
}
@media screen and (max-width: 763px) {
	.product__img {
		width: 100%;
		height: 100%;
	}
	.product__list-item--remont a {
		font-size: 16px;
	}
	.product__list-item a {
		display: block;
		padding: 10px 0px;
	}
	.product__list-item--remont {
		width: 45%;
		line-height: 1;
    padding: 0px;
    text-align: center;
	}
	.product__list-item--cost {
		width: 34%;
		line-height: 1;
    padding: 0px;
    text-align: center;
	}
	.product__list-item--detail {
		width: 25%;
		line-height: 1;
    padding: 0px;
    text-align: center;
	}
	.product__named {
		width: 45%;
	}
	.product__price {
		width: 34%;
	}
	.product__element {
		width: 25%;
	}
	.product__block {
		height: inherit;
		line-height: 1.3;
	}
}
@media (min-width: 768px) {
	.product__title {
		margin-top: 20px;
	}
}
@media (min-width: 1024px) {
	.product__title {
		margin-top: 0;
		font-size: 36px;
	}
	.wrapper {
		display: flex;
		max-width: 1140px;
		margin: 0 auto;
	}
}
@media (max-width: 767px) {
	#menu{
		width: 100%;
	}
	.block__img {
	  display: block;
    margin: 0 auto;
    margin-top: 10px;
  }
	.block__list {
		padding: 0px;
		margin: 0px;
    display: flex;
    list-style: none;
    justify-content: space-between;
	}
	.block__item {
		width: 35%;
    background-color: #fc7b3e;
    border-right: 1px solid #fff;
	}
	#menu a{
		display: block;
		color: #fff;
		/*background: linear-gradient(to right, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%);*/
		font-size: 18px;
		text-align: center;
		padding: 10px 0;
	}
	#menu.normal {
    width: 100%;
	}
	#menu.fix {
		position:fixed;
    top: 2px; 
    left: 0px;
    width:100%;
    z-index: 2;
	}
}