@font-fase {
	font-family: "SF UI Display";
    src: url(../font/SFUIDisplay-Thin.woff2) format("woff2"),
        url(../font/SFUIDisplay-Thin.woff) format("woff");
    font-weight: 100;
    font-style: normal; 
}
@font-face {
	font-family: "SF UI Display";
    src: url(../font/SFUIDisplay-Regular.woff2) format("woff2"),
        url(../font/SFUIDisplay-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal; 
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}
body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	margin: 0 auto;
	font-family: "SF UI Display", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 100;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.header__top {
	background-color: #000000;
}
.header__top-inner {
	max-width: 1140px;
	margin: 0 auto;
}
.header__top-list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.header__top-text {
	margin: 0px;
	padding-bottom: 10px;
	font-size: 25px;
	font-weight: 100;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
}
.header__top-link {
	text-decoration: none;
}
.header__top-text span {
	color: #fc7b3e;
}
.header__top-up {
	font-size: 16px;
}
.header-menu {
	background-color: rgb(252, 123, 62);
  box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
}
.header-menu__sub {
	display: none;
}
.header-menu__item:hover .header-menu__sub {
	display: block;
}
.header-menu__item:hover {
	background-color: #000000;
}
.header-menu__sub {
	padding: 0px;
  list-style: none;
	background-color: #ffffff;
}
.header-menu__sub-item {
	padding-left: 15px;
}
.header-menu__sub-link {
	display: block;
  font-size: 16px;
  font-weight: 100;
  line-height: 50px;
  color: #000000;
  text-decoration: none;
}
.header-menu__sub-item:hover {
	background-color: #fc7b3e;
}
.header-menu__sub-link:hover {
	color: #ffffff;
}
.header-menu__link:hover {
	color: #fc7b3e; 
}
.header-menu__inner {
	max-width: 1140px;
  margin: 0 auto;
}
.header-menu__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.header-menu__item {
	width: 380px;
	width: 100%;
}
.header-menu__link {
	display: block;
	font-size: 16px;
	font-weight: 100;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	line-height: 73px;
	text-decoration: none;
}
.header-menu__list {
	display: none;
}
.header-menu-mob {
	margin: 0px;
  padding: 0px;
  list-style: none;
}
.header-menu-mob__item {
	display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 10px;
}
.header-menu-mob__link {
	display: block;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  padding: 10px 0px;
  text-decoration: none;
}
.header-menu-mob__img {
	margin: 10px 0px;
  cursor: pointer;
}
.header-menu-mob__items {
	width: 250px;
}
.header-menu-mob__wrraper {
	position: absolute;
  width: 100%;
  min-height: 100px;
  left: 0px;
  top: 39px;
  padding: 0px;
  list-style: none;
  background-color: #ffffff;
  z-index: 1;
}
.header-menu-mob__links {
	display: block;
  width: 250px;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  padding: 10px;
  border-bottom: 1px solid #cccccc;
  box-shadow: 1px 0px 0px 0px rgb(0, 0, 0, .50);
}
.header-menu-mob__sub {
	padding: 0px;
  list-style: none;
}
.header-menu-mob__sub-links {
	display: block;
  padding: 10px 0px;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #cccccc;
  box-shadow: 1px 0px 0px 0px rgb(0, 0, 0, .50);
}
.header-menu-mob__wrraper {
	display: none;
}
.header-menu-mob__sub {
	display: none;
}
.header-menu-mob__items:hover .header-menu-mob__sub {
	display: block;
}
.header-menu-mob__links:focus,
.header-menu-mob__links:active,
.header-menu-mob__links:hover {
	color: #02a1c9;
}
@media (min-width: 768px) {
	.header-menu__list {
		display: block;
	}
	.header-menu-mob {
		display: none;
	}
	.header-menu__list {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0px;
		margin: 0px;
		list-style: none;
	}
	.header-menu__item {
		position: relative;
		width: 380px;
		width: 100%;
		border-left: 1px solid #ffffff;
	}
	.header-menu__sub {
		position: absolute;
		left: 0px;
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
	}
	.header-menu__item:last-child {
		border-right: 1px solid #ffffff;
	}
	.header__top-list {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0px;
		padding: 10px 5px;
		list-style: none;
	}
	.header__top-text {
		margin: 0px;
		padding: 0px;
		font-size: 17px;
		font-weight: 100;
		color: #ffffff;
		text-align: left;
		text-transform: uppercase;
	}
}
@media (min-width: 1140px) {
	.header__top-text {
		margin: 0px;
		font-size: 25px;
		font-weight: 100;
		color: #ffffff;
		text-transform: uppercase;
	}
	.header__top-list {
		padding: 10px 25px;
	}
}
.banner {
	background-image: url(../img/bg-banner.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.banner__list {
	max-width: 1140px;
	margin: 0 auto;
}
.banner__link {
	outline: none;
}
.banner__img {
	max-width: 100%;
}
.description {
	margin-bottom: 35px;
}
.description__inner {
	max-width: 1140px;
	margin: 0 auto;
}
.description__title {
	font-size: 26px;
	font-weight: 100;
	color: #666666;
	text-align: center;
}
.description__text {
	margin: 0px;
	padding: 0 10px;
	font-size: 16px;
	font-weight: 100;
	color: #8f8f8f;
	text-indent: 10px;
	text-align: justify;
}
.description__btn {
	display: block;
	width: 166px;
	height: 50px;
	margin: 0 auto;
	margin-top: 20px;
	padding: 0px;
	font-size: 16px;
	font-weight: 100;
	line-height: 50px;
	color: #ffffff;
	text-transform: uppercase;
	border: 0px;
	background-color: rgb(252, 123, 62);
}
@media (min-width: 767px) {
	.description__title {
		font-size: 36px;
		padding: 0 20px;
	}
}
@media (min-width: 1024px) {
	.description__title {
		padding-left: 66px;
		padding-right: 66px;
		font-size: 36px;
		font-weight: 100;
		color: #666666;
		text-align: center;
	}
	.description__text {
		padding: 0px;
	}
}
.about-us {
	background-image: url(../img/bg-about_us.png);
}
.about-us__inner {
	max-width: 1140px;
	margin: 0 auto;
}
.about-us__title {
	margin: 0px;
	padding-top: 45px;
	padding-bottom: 45px;
	font-size: 26px;
	font-weight: 100;
	color: #ffffff;
	text-align: center;
}
.about-us__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	position: relative;
	padding: 0px;
	margin: 0px;
	padding-bottom: 55px;
	background-image: url(../img/work-notebook.png);
	background-repeat: no-repeat;
}
.about-us__item {
	width: 350px;
	margin-bottom: 30px;
	outline: none;
}
.about-us__text {
	margin: 0px;
	font-size: 15px;
	font-weight: 100;
	color: #ffffff;
	text-align: justify;
}
.about-us__text--name {
	margin-bottom: 10px;
}
.about-us__text span {
	color: #fc7b3e;
}
@media(min-width: 768px) {
	.about-us__title {
		font-size: 36px;
	}
}
@media (min-width: 1140px) {
	.about-us__list::before {
		position: absolute;
		content: "";
		left: 0px;
		top: 5px;
		width: 1140px;
		height: 286px;
		background-image: url(../img/separator.png);
	}
}
.paper {
	max-width: 1140px;
	margin: 0 auto;
}
.paper__title {
	font-size: 36px;
	font-weight: 100;
	color: #666666;
	text-align: center;
}
.paper__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 auto;
}
.paper__item {
	width: 250px;
}
.paper__text {
	width: 250px;
	margin: 0 auto;
	font-size: 15px;
	font-weight: 100;
	text-align: justify;
	color: #b8b8b8;
}
.paper__link {
	text-decoration: none;
}
.paper__name {
	width: 250px;
	margin: 0 auto;
	font-size: 20px;
	font-weight: 100;
	color: #fc7b3e;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px solid #e6e6e6;
}
.paper__text a {
	text-align: right;
}
.paper__ref {
	margin-left: 60px;
	font-size: 16px;
	font-weight: 100;
	color: #fc7b3e;
	text-decoration: none;
	outline: none;
	border-bottom: 1px solid #fedecf;
}
.paper__block {
	display: block;
	width: 250px;
	margin: 0 auto;
  border: 1px solid #d1d1d1;
}
.paper__img {
	display: block;
	margin: 25px;
}
.feedback {
}
.feedback__inner {
	width: 100%;
	height: 580px;
	background-image: url(../img/form-bg.jpg);
	background-position: center;
}
.feedback__form {
	max-width: 1140px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.feedback__title {
	max-width: 717px;
	margin: 0px;
	margin-top: 20px;
	padding: 0 10px;
  padding-bottom: 20px;
	font-size: 22px;
  font-weight: 100;
  text-align: left;
  color: #fc7b3e;
}
.feedback__name {
	margin: 0px 10px;
  padding-bottom: 20px;
  font-size: 25px;
  font-weight: 400;
  color: #666666;
  text-align: center;
}
.feedback__input {
	width: 100%;
	max-width: 717px;
	margin: 7px 0;
	padding-left: 10px;
	font-size: 12px;
	font-weight: 100;
	height: 40px;
  line-height: 40px;
	outline: none;
	border: none;
	background-color: hsla(0,0%,0%,0.5);
}
.feedback__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-top: 14px;
	padding-left: 10px;
	padding-right: 10px;
}
.feedback__text {
	margin: 0px;
	padding: 0px;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}
input::placeholder {
	color: #ffffff;
}
.feedback__link {
	color: rgb(252, 123, 62);
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px solid rgb(252, 123, 62);
}
.feedback__submit {
  width: 166px;
  height: 50px;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgb(252, 123, 62);
  border: none;
}
@media (min-width: 768px) {
	.feedback__name {
		font-size: 36px;
	}
	.feedback__submit {
		margin-top: 36px;
  	margin-bottom: 36px;	
	}
	.feedback__input {
		font-size: 25px;
	}
	.feedback__text {
		font-size: 20px;
		margin: 0px;
		text-align: center;
	}
	.feedback__link {
		font-size: 20px;
	}
	.feedback__title {
		font-size: 25px;
		text-align: center;
	}
}
@media (min-width: 1024px) {
	.feedback__name {
		margin: 0px;
	}
	.feedback__title {
		padding: 0px;
		padding-bottom: 20px;
	}
	.feedback__inner {
		padding: 0px;
	}
	.feedback__input {
		padding-left: 3px;	
	}
}
.footer__wrapper {
	width: 100%;
	background-image: url(../img/bg-footer.png);
}
.footer__inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto auto 0;
  max-width: 1140px;
  overflow: hidden;
  padding-bottom: 10px;
}
.footer-head {
	background-color: #fc7b3e;
	color: #fff;
	margin-bottom: 10px;
}
.footer-head__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin: auto 20px 0;
	max-width: 1140px;
	overflow: visible;
	text-align: center;
}
.footer-head__item {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
	margin: auto;
	padding: 5px;
}
.footer-head__link {
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	white-space: nowrap;
}
.footer-social {
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
  margin: 0 auto;
  padding: 0px;
  list-style: none;
}
.copyright {
	background-color: rgb(39, 49, 61);
  width: 100%;
  display: block;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .20);
          box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .20);
}
@media screen and (min-width: 768px) {
	.footer span {
		position: absolute;
  	background-color: rgb(39, 49, 61);
  	width: 100%;
  	height: 60px;
  	display: block;
  	-webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .20);
  	        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .20);
	}
	.footer-head__inner {
		flex-direction: row;
		margin: auto auto 0;
		text-align: center;
	}
}
.footer-list__wrapper {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
	z-index: 1;
	padding: 20px;
  margin: 5px;
}
.footer-list {
  font-size: 18px;
  line-height: 1.5em;
  list-style-type: none;
  margin: 0px;
  padding: 0;
}
.footer-list__point {
	color: #ffffff;
	font-size: 16px;
	text-align: center;
}
.footer-list__point img {
	vertical-align: text-bottom;
}
.footer-list__title {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 20px;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
}
.footer-list__link {
  color: #ffffff;
  text-decoration: none;
  white-space: nowrap;
}
.footer-list__wrapper:last-child {
	border-right: none;
}
.footer-payment {
	max-width: 1140px;
	margin: 0 auto;
}
.footer-payment__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	max-width: 780px;
	margin: 0 auto;
}
.footer-payment__list {
	padding: 0px;
}
.footer-payment__item {
	margin-top: auto;
	padding: 10px;
	list-style: none;
}
.footer-copyright {
	width: 100%;
	background-color: #000000;
}
.footer-copyright__text {
	max-width: 1140px;
  margin: 0 auto;
  padding-top: 5px;
	padding-bottom: 5px;
	font-size: 16px;
  color: #ffffff;
  text-align: center;
}
@media screen and (min-width: 768px) {
	.footer-list__wrapper {
		margin: 0px;
		padding: 0px;
	}
	.footer-list--first {
		margin-left: 0;
	}
	.footer-list--last {
		margin-right: 0;
	}
	.footer-list {
		margin: 18px auto;
	}
	.footer-head__item {
		border-right: 1px solid #ffffff;
	}
	.footer-head__item:last-child {
		border-right: none;
	}
	.footer-head__link {
    line-height: 51px;
  }
}
@media screen and (min-width: 1140px) {
	.footer-list__wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.footer-list--first {
		margin: 18px auto;
	}
	.footer-list--last {
		margin: 18px auto;
	}
	.footer-list__point {
		text-align: left;
	}
	.footer-head__link {
    font-size: 25px;
  }
	.footer-list__title {
		text-align: left;
	}
}
.breadcrumbs-paper__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
  max-width: 1140px;
  margin: 10px auto;
  padding: 0;
  list-style: none;
}
.breadcrumbs-paper__list a {
	font-size: 16px;
	font-weight: 300;
	color: #000000;
	text-decoration: none;
}
.breadcrumbs-paper__list span {
	font-size: 16px;
	font-weight: 300;
	padding: 0 5px;
	color: #000000;
}
.breadcrumbs-current {
	font-size: 16px;
	font-weight: 300;
	color: #000;
}
@media (min-width: 768px) {
	.breadcrumbs-paper__inner {
		justify-content: flex-start;
	}
}
@media (min-width: 1024px) {
	.breadcrumbs-paper__inner {
		padding: 0px;
	}
}
.contact {
	max-width: 1140px;
	margin: 0 auto;
}
.contact__title {
	margin: 0px;
  margin-top: 20px;
  margin-bottom: 34px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  color: #666666;
}
.contact__name {
	display: flex;
	align-items: center;
	margin: 0px;
	margin-top: 5px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 25px;
  font-weight: 100;
  color: #8f8f8f;
}
.contact__name:before,
.contact__name:after {
	flex: 1 0 auto;
  content: "";
  height: 1px;
  background: #000000;
}
.contact__name:before {
	margin-right: 10px;
}
.contact__name:after {
	margin-left: 10px;
}
.contact__list {
	display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px;
  margin: 0px;
}
.contact__item {
	list-style: none;
}

.contact__header {
	padding: 0 15px;
	margin: 5px;
}
.contact__text {
	margin: 0px;
	margin-bottom: 18px;
	font-size: 18px;
	font-weight: 100;
}
.contact__link {
	text-decoration: none;
	color: #000000;
}
.contact__block {
	display: block;
}
.contact__img {
	display: block;
}
.contact__item {
	margin-bottom: 20px;
}
.video__foto {
	width: 100%;
	height: 100%;
}
.location__text {
	margin: 5px;
	padding: 5px;
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
  text-indent: 10px;
}
.contact__address {
	display: block;
	margin-bottom: 13px;
	padding-left: 30px;
	background-size: 20px 19px;
	background-image: url(../img/contact-address.png);
	background-repeat: no-repeat;
}
.contact__tel {
	display: block;
	margin-bottom: 13px;
	padding-left: 30px;
	background-size: 20px 19px;
	background-image: url(../img/contact-tel.png);
	background-repeat: no-repeat;
}
.contact__main {
	display: block;
	margin-bottom: 13px;
	padding-left: 30px;
	background-size: 20px 19px;
	background-image: url(../img/contact-email.png);
	background-repeat: no-repeat;
}
.contact__workhours {
	display: block;
	padding-left: 30px;
	background-size: 20px 20px;
	background-image: url(../img/contact-clock.png);
	background-repeat: no-repeat;
}
.location__inner {
	padding: 15px 0px;
}
.location {
	max-width: 1140px;
	margin: 0 auto;
}
.location__map {
	max-width: 1070px;
}
@media screen and (min-width: 767px) {
	.contact__title {
		font-size: 36px;
	}
	.contact__text {
		margin-bottom: 24px;
    font-size: 22px;
	}
	.contact__name {
		
	}
	.contact__header {
		max-width: 396px;
    padding: 0px;
    margin: 0px;
	}
	.contact__item {
		margin: 0px;
	  padding: 10px 0px;
	  padding-left: 10px;
	}
	.contact__list {
		justify-content: flex-start;
	}
}
@media (min-width: 1024px) {
	.contact__item--contact {
		order: 3;
	}
	.contact__item--video {
		order: 2;
	}
	.contact__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-left: 35px;
    margin-right: 35px;
    border: 1px solid #fc7b3e;
	}
	.contact__text {
		font-size: 16px;
    font-weight: 100;
	}
	.contact__title {
		margin-left: 0px;
    margin-right: 0px;
	}
	.location__inner {
		display: flex;
    flex-direction: column;
    margin-left: 35px;
    margin-right: 35px;
	}
	.location__text {
		order: 1;
		font-size: 16px;
		font-weight: 300;
		padding: 0px;
		margin: 0px;
		margin-bottom: 15px;
	}
	.location__map {
		order: 2;
	}
	.contact__link {
		vertical-align: top;
	}
	.contact__text span {
		vertical-align: top;
	}
	.video__foto {
		width: 400px;
	}
	.location__map {
		border: 1px solid #fc7b3e;
	}
}
.guidance {
	max-width: 1140px;
	margin: 0 auto;
}
.guidance__title {
	margin: 0px;
  margin-top: 28px;
  margin-bottom: 39px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  color: #666666;
}
.guidance__text:first-child {
	margin-bottom: 0px;
}
.guidance__text {
	margin: 0px;
  margin-bottom: 20px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 300;
  text-indent: 10px;
  text-align: justify;
  color: #313d4b;
}
.guidance__name {
	margin: 0px;
  margin-bottom: 30px;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #313d4b;
}
@media screen and (min-width: 767px) {
	.guidance__title {
		font-size: 36px;

	}
}
@media screen and (min-width: 1024px) {
	.guidance__text {
		padding: 0;
		font-size: 16px;
	}
	.guidance__title {
		margin-left: 0px;
    margin-right: 0px;
	}
	.guidance__name {
		padding: 0px;
	}
}
.order {
	max-width: 1140px;
	margin: 0 auto;
	margin-bottom: 25px;
}
.order__list {
	display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5px;
  padding: 10px;
}
.order__item {
	display: flex;
	align-items: center;
	list-style: none;
}
.order__text {
	padding-left: 25px;
	font-size: 18px;
	color: #7b7878;
}
.order__min {
	display: block;
	margin-top: 5px;
	font-size: 25px;
	color: #000000;
}
.order__min span {
	font-size: 25px;
	color: #fc7b3e;
}
.order__link {
	display: block;
  width: 250px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #fc7b3e;
  border-radius: 10px;
}
@media (min-width: 1024px) {
	.order__text {
		font-size: 16px;
	}
	.order__min {
		font-size: 18px;
	}
	.order__link {
		width: 193px;
		margin-top: 5px;
		font-size: 16px;
		font-weight: 400;
		height: 36px;
		line-height: 36px;
	}
	.order__img {
		width: 40px;
		height: 42px;
	}
	.order__list {
		padding: 0px;
		margin: 0px;
		margin-right: 206px;
		margin-left: 190px;
	}
	.order {
		padding-left: 25px;
	}
	.order__min {
		display: block;
		margin-top: 5px;
		font-size: 18px;
		color: #000000;
	}
	.order__min span {
		font-size: 18px;
		color: #fc7b3e;
	}
}
.personal-data {
	max-width: 1140px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.personal-data__title {
	margin: 0px;
	margin-bottom: 25px;
	padding: 0px;
	font-size: 26px;
	font-weight: 100;
	text-align: center;
	color: #666666;
}
.personal-data__text {
	margin: 0px;
	margin-bottom: 20px;
	padding: 0px 10px;
	font-size: 12px;
	font-weight: 100;
	text-indent: 10px;
	text-align: justify;
	color: #8f8f8f;
}
.personal-data__text a {
	display: block;
	color: #666666;
	text-decoration: none;
	text-align: left;
}
.personal-data__name {
	margin: 0px;
  font-size: 18px;
  font-weight: 100;
  color: #8f8f8f;
  text-align: center;
  text-transform: uppercase;
}
.personal-data__caption {
	margin: 15px 0px;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  color: #666666;
}
.personal-data__text:last-child {
	margin-bottom: 0px;
}
@media (min-width: 767px) {
	.personal-data__text {
		font-size: 18px;
	}
	.personal-data__name {
		font-size: 20px;
	}
	.personal-data__title {
		font-size: 36px;
	}
	.personal-data__text {
		padding-left: 25px;
		padding-right: 47px;
	}
}
@media (min-width: 1024px) {
	.personal-data__wrraper {
		padding-left: 25px;
	}
	.personal-data__inner {
		padding-left: 25px;
	}
	.personal-data__text {
		padding: 0px;
    padding-left: 25px;
    padding-right: 35px;
    margin-bottom: 25px;
    font-size: 16px;
	}
	.personal-data__title {
		margin: 0px;
    margin-bottom: 22px;
    font-size: 36px;
    font-weight: 100;
	}
}